<app-menu></app-menu>
<!-- <h2>{{ nombre | titlecase }}</h2>
<h2>{{ valor | number }}</h2>
<h2>{{ obj | json }}</h2>

<button
  class="p-button-help"
  pButton
  type="button"
  icon="pi pi-bell"
  iconPos="right"
  label="Cambiar Nombre"
></button>

<p-card [header]="nombre | titlecase" subheader="El subheader">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde quis
    voluptate animi expedita blanditiis magnam? Earum facilis, numquam
    reiciendis consectetur vel tempore fugit esse assumenda? Ratione quos ad
    molestiae laudantium labore, temporibus sapiente deserunt ex dolor facere
    nihil. Provident sunt quibusdam tempore rerum nesciunt optio, beatae quidem
    eaque consequuntur dolore?
  </p>
</p-card> -->
